
@media (max-width:574px){

.principal-content-playtime
{
height:100%;    
}   

.Entrada-Flexível
{
flex-direction:column;
}

.img-large 
{
display:none;    
}

}

@media (max-width:1047px)
{

.principal-content-playtime 
{
height:100%;    
}    

.Container-Article
{
height:100%;
}

.section-Play-time-3
video
{
height:110%;    
}

.section-Play-time-3::before 
{
height:105%;    
}

.heading-margin{
margin:15px 0;
}

}    